---
- name: Configure Jenkins Master on Ubuntu
  hosts: jenkins_master_ip
  become: true

  vars:
    jenkins_http_port: 8080

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install base packages
      apt:
        name:
          - gnupg
          - ca-certificates
          - curl
        state: present

    - name: Add Jenkins apt key
      apt_key:
        url: https://pkg.jenkins.io/debian-stable/jenkins.io-2023.key
        state: present

    - name: Add Jenkins apt repository
      apt_repository:
        repo: "deb https://pkg.jenkins.io/debian-stable binary/"
        state: present

    - name: Install Java and Jenkins
      apt:
        name:
          - openjdk-17-jdk
          - jenkins
        state: present
        update_cache: yes

    - name: Ensure Jenkins service is enabled and started
      service:
        name: jenkins
        state: started
        enabled: yes

    - name: Install nginx
      apt:
        name: nginx
        state: present

    - name: Deploy nginx config for Jenkins reverse proxy
      template:
        src: ../nginx/nginx.conf.j2
        dest: /etc/nginx/sites-available/jenkins
      notify: Reload nginx

    - name: Enable Jenkins nginx site
      file:
        src: /etc/nginx/sites-available/jenkins
        dest: /etc/nginx/sites-enabled/jenkins
        state: link
        force: yes
      notify: Reload nginx

    - name: Disable default nginx site
      file:
        path: /etc/nginx/sites-enabled/default
        state: absent
      notify: Reload nginx

  handlers:
    - name: Reload nginx
      service:
        name: nginx
        state: reloaded
        enabled: yes
